.has-margin-block-auto {
    margin-block: auto;
}

.has-background-transparent {
    background-color: transparent;
}

body {
    min-height: 100vh;
    height: 100%;
    background-image: url(../pictures/mainbackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.maincontainer {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.bodycontainer {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drag-area {
    background: #000000db;
    border: 2px dashed #fff;
    height: 300px;
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.drag-area.active {
    border: 2px solid #fff;
}

.drag-area .icon {
    font-size: 100px;
    color: #fff;
}

.drag-area header {
    font-size: 30px;
    font-weight: 500;
    color: #fff;
}

.drag-area span {
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin: 10px 0 15px 0;
}

.drag-area button {
    padding: 10px 25px;
    font-size: 20px;
    font-weight: 500;
    border: none;
    outline: none;
    background: #fff;
    color: #5256ad;
    border-radius: 5px;
    cursor: pointer;
}

.drag-area img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
}

.file-list .column .button {
    transition: all 1s ease-in-out;
}

#classifyButton {
    width: 10rem;
    height: 3rem;
    color: white;
    font-weight: bold;
    background-color: #ffbb00;
    border-color: #000000db;
}

#classifiedTable td,
#classifiedTable td,
#classifiedTable tr {
    border-color: transparent !important;
}

.filename-button {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.filename-button span {
    width: 130px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.classify-button-container {
    width: 180%;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0px 0px 15px black;
    margin: 3vw 0;
    transform: translate(-25%, 40%);
}

#classifyButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    background-color: #F75780;
    position: realtive;
    border: 1px dashed yellow;
    border-radius: 10px;
    outline: none;
    transition: box-shadow 0.3s linear;
    box-shadow: inset 0px 0px 5px black, inset 0px 0px 0px #F7EA25;
}

#classifyButton:active {
    box-shadow: inset 0px 0px 0px black, inset 0px 0px 105px #F7EA25;
}

#classifyButton:active .blob {
    animation: none;
}

#classifyButton .blob {
    position: relative;
    top: 5%;
    left: 0%;
    width: 10vw;
    height: 10vw;
    fill: #1A87AB;
    transform-origin: 50% 50%;
    filter: drop-shadow(4px 4px 0 black);
    animation: bump 5.5s ease infinite;
}

@keyframes bump {
    0% {
        transform: scale(1, 1) translateX(0px);
    }

    9% {
        transform: scale(1.1, 0.9) translateY(20px);
    }

    28% {
        transform: scale(0.7, 1.3) translateY(-100px) translateX(55px);
    }

    35% {
        transform: scale(1, 1) translateY(20px);
    }

    50% {
        transform: scale(1, 1.1);
    }

    60% {
        transform: scale(1.1, 0.9) translateY(20px);
    }

    80% {
        transform: scale(0.7, 1.3) translateY(-100px) translateX(-55px);
    }

    88% {
        transform: scale(1, 1) translateY(20px);
    }

    100% {
        transform: scale(1, 1) translateX(0px);
    }
}

#classifyButton .line {
    position: absolute;
    bottom: 5%;
    width: 20vw;
    height: 0.5vw;
    background: white;
    transform: rotate(-8deg);
    box-shadow: 2px 2px 0px black;
    animation: line 4s ease infinite reverse;
}

@keyframes line {
    0% {
        transform: rotate(-8deg);
    }

    9% {
        transform: rotate(-8deg);
    }

    28% {
        transform: rotate(28deg);
    }

    35% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(-8deg);
    }

    80% {
        transform: rotate(-12deg);
    }

    88% {
        transform: rotate(-18deg);
    }

    100% {
        transform: rotate(-8deg);
    }
}

#classifyButton .text {
    display: flex;
    position: absolute;
    font-size: 1.5rem;
    text-shadow: 2px 2px black;
    font-family: 'Anton', sans-serif;
}

#classifyButton p:nth-child(1n) {
    transform: rotate(8deg);
    animation: shake 0.5s ease infinite;
    color: #F7EA25
}

#classifyButton p:nth-child(2n) {
    transform: rotate(5deg);
    animation: shake 0.5s ease-out infinite reverse;
    color: white
}

#classifyButton p:nth-child(3n) {
    transform: rotate(-2deg);
    animation: shake 0.5s 0.1s ease infinite;
}

#classifyButton p:nth-child(4n) {
    transform: rotate(-5deg);
    animation: shake 0.5s ease-in infinite reverse;
}

@keyframes shake {
    0% {
        transform: translateX(0) rotate(8deg);
    }

    50% {
        transform: translateX(4px) rotate(-3deg);
    }

    100% {
        transform: translateX(0) rotate(6deg);
    }
}

#classifyButton i {
    color: #2867B2;
    margin-top: 1vw
}