<!DOCTYPE html>
<html lang="en" style="overflow: hidden;">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="../static/css/indexstyle.css">

    <title>Machine Learning</title>
</head>

<body>
    <div class="is-flex pl-3 pr-3 pt-2 pb-2 is-justify-content-space-between has-text-weight-bold"
        style="background-color: #000">
        <div class="is-flex m-0">
            <div class="has-margin-block-auto">
                <a class="container pl-6 pr-4" href="../page/index">
                    <img src="../static/pictures/logowhite.png" width="100">
                </a>
            </div>
            <div class="has-margin-block-auto">
                <a class="container pl-3 pr-3 has-text-white" href="../page/index">
                    Home
                </a>
            </div>
            <div class="has-margin-block-auto">
                <a class="container pl-3 pr-3 has-text-white" href="../page/aboutus">
                    About us
                </a>
            </div>
        </div>

        <div class="is-flex m-0">
            <div class="has-margin-block-auto">
                <a class="container pl-3 pr-3 has-text-white" href="../page/main">
                    <div class="button">Start Classifing</div>
                </a>
            </div>
        </div>
    </div>

    <div class="has-background-black">
        <div style="width:100%;height:0;padding-bottom:56%;position:relative;">
            <img src="https://i.giphy.com/media/pv9vqIFuUD44TdnR73/giphy.webp" width="100%" height="200">
        </div>
    </div>
</body>

<script>
    /*
    let clearScroll = setInterval(function () {
        let gifIndex = document.getElementById("gifIndex");
        let iFrame = (gifIndex.contentDocument) ? gifIndex.contentDocument : gifIndex.contentWindow.document;
    }, 1000);
    */

</script>

</html>